<div class="search-box">
  <input
    #search
    type="text"
    style="width: 100%;"
    (keyup.enter)="filter(search.value)"
  />
</div>

<div class="container">
  <div
    class="box"
    *ngFor="let product of products"
    [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }"
    [routerLink]="['/product-details', product._id]"
  >
    <div class="content">
      <p>
        {{ product.name }}
      </p>
      <p>{{ product.price }} {{ product.currency }}</p>
    </div>
  </div>
</div>
